$primary-font-size: 14px;
$primary-line-height: 18px;

$primary-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Arial", sans-serif;

$basic-white: #ffffff;

$basic-black: #000000;
$special-black: #666666;

$basic-grey: #f2f2f2;
$special-grey: #ebebeb;

$special-dark-grey-1: #444444;
$special_dark-grey-2: #222222;

$brand-primary-color: #68b738;
$brand-secondary-color: #5eaa2f;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
