$primary-font-size: 14px;
$primary-line-height: 18px;

$primary-font-family: "Lato";
$secondary-font-family: "Oswald";

$basic-white: #ffffff;
$basic-black: #000000;

$text-secondary-darker-color: #222222;
$text-secondary-color: #444444;
$company-primary-color: #68b738;
