.additional-products {



}


.additional-products__title {
  color: $special_dark-grey-2;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__item {
  color: $special_dark-grey-1;
  font-family: $primary-font-family;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
}

.additional-products__description {

}

.additional-products__price {


}

.additional-products__link {
  text-decoration: none;
}
