.additional-products-line {


}

.additional-products-line__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
    outline: 5px solid rgba(12, 234, 178, 0.8);
    outline-offset: -5px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
    outline: 5px solid rgba(237, 138, 8, 0.8);
    outline-offset: -5px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.additional-products-line__title {

  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    height: 2px;

    background: $brand-primary-color;
  }

  &::before {
    margin-right: 40px;
  }

  &::after {
    margin-left: 40px;
  }



}

.additional-products-line__list {
  list-style: none;
  margin: 0;
  padding: 0;


  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
  }
}

.additional-products-line__gift {

}

