.additional-products-line {

  position: relative;

  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;


	}

@media (min-width: $desktop-width) {
  padding-bottom: 87px;

	}








}

.additional-products-line__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  //outline: 5px solid rgba(255, 0, 0, 0.8);
  //outline-offset: -5px;



  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
    //outline: 5px solid rgba(12, 234, 178, 0.8);
    //outline-offset: -5px;





  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
    //outline: 5px solid rgba(237, 138, 8, 0.8);
    //outline-offset: -5px;



  }
}

.additional-products-line__inner {

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;

	}

}



.additional-products-line__title {
  color: $basic-black;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;

  background-color: $basic-white;

  margin-bottom: 36px;
  padding: 0 20px;
  margin-left: -15px;

  @media (min-width: $tablet-width) {

    font-size: 36px;
    line-height: 36px;

    margin-bottom: 80px;

	}

@media (min-width: $desktop-width) {

  grid-column: span 2;


	}

}


.additional-products-line__list {
  list-style: none;
  padding: 0;

  border-top: 1px solid $special_dark-grey-4;



@media (max-width: $mobile-width-only) {
  margin-bottom: 35px;

}


  @media (min-width: $tablet-width) {
    //width: 708px;
  }

  @media (min-width: $desktop-width) {
    //width: 895px;
  }
}

.additional-products-line__wrapper::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $brand-primary-color;
  top: 16px;
  right: 0;
  z-index: -1;
}


