.checkbox-field {
  position: relative;
  padding-left: 36px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}


.checkbox-field label {
  cursor: pointer;
}

.control__mark-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  outline: 2px solid $special-dark-grey-4;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}


.checkbox-field__input:checked + .control__mark-checkbox::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 6px;
  background-image: url("../../images/icons/stack.svg#tick");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;


  @media (max-width: $mobile-width-only) {
    top: 4px;
    left: 1px;
  }
}


.control__mark-checkbox:hover::before {
  outline: 2px solid $special-dark-grey-9;
}

.control__mark-checkbox:active::before {
  outline: 2px solid $special-dark-grey-10;
}


.checkbox-field__input:disabled + .control__mark-checkbox::before {
  cursor: no-drop;
  opacity: 0.3;
}

.checkbox-field__input:disabled ~ span {
  cursor: no-drop;
  opacity: 0.3;
}
