.copyright__link {
  color: $special-dark-grey-1;
  font-family: $primary-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $tablet-width) {
    width: 175px;
  }
}

.copyright__link--htmlcademy-icon {
  &::after {
    content: " ";

    display: inline-block;
    // height: 27px;
    // width: 34px;
    height: 35px;
    width: 29px;

    mask-image: url("../../images/logo-html-academy.svg");
    background-color: $special-black;
    mask-repeat: no-repeat;
    mask-position: center;
  }


  &:hover::after {
    background-color: $brand-primary-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.copyright__name {
  @media (max-width: $mobile-width-only) {
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    padding-right: 23px;
  }
}
