.copyright {

}

.copyright__link {
  color: $special-dark-grey-1;
  font-family: $primary-font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;

  &:hover::after {
    background-color: $brand-primary-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.copyright__link--htmlcademy-icon {
  &::after {
    content: " ";

    display: inline-block;
    height: 27px;
    width: 34px;

    mask-image: url("../../images/logo-html-academy.svg");
    background-color: $special-black;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}


// .footer-social-list__link--vkontakte {
//   mask-image: url("../../images/icons/stack.svg#vkontakte");
//   background-color: $special-black;

//   &:hover {
//     background-color: $brand-primary-color;
//   }

//   &:active {
//     background-color: $brand-primary-color;
//     opacity: 0.3;
//   }
// }
