.filter-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-group__option {

}

.filter-group__email-input {
  color: $special_dark-grey-1;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-group__tel-input {
  color: $special-dark-grey-1;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}

.filter-group__textarea::placeholder {
  font-family: $secondary-font-family;
  color: $special-dark-grey-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
