.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 24px;
}

.footer-social-list__link {
  display: block;
  width: 28px;
  height: 22px;
}

.footer-social-list__link--vkontakte {
  mask-image: url("../../images/icons/stack.svg#vkontakte");
  background-color: $special-black;

  &:hover {
    background-color: $brand-primary-color;
  }

  &:active {
    background-color: $brand-primary-color;
    opacity: 0.3;
  }
}

.footer-social-list__link--youtube {
  mask-image: url("../../images/icons/stack.svg#youtube");
  background-color: $special-black;

  &:hover {
    background-color: $brand-primary-color;
  }

  &:active {
    background-color: $brand-primary-color;
    opacity: 0.3;
  }
}

.footer-social-list__link--telegram {
  mask-image: url("../../images/icons/stack.svg#telegram");
  background-color: $special-black;

  &:hover {
    background-color: $brand-primary-color;
  }

  &:active {
    background-color: $brand-primary-color;
    opacity: 0.3;
  }
}

