.gift {
  background-color: $brand-primary-color;
  background-image: url("../../images/cat-gift-background-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 58px 60px 43px;
  background-size: cover;
  position: relative;

  @media (max-width: $mobile-width-only) and (min-resolution: 2dppx) {
    background-image: url("../../images/cat-gift-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 125px;
    display: flex;
    justify-content: space-between;
    background-image: url("../../images/cat-gift-background-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    padding: 58px 63px 46px;

  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/cat-gift-background-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    flex-direction: column;
    background-image: url("../../images/cat-gift-background-desktop@1x.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/cat-gift-background-desktop@2x.jpg");
  }
}


@media (min-resolution: 2dppx) {
  .page-header__logo {
    background-image: url("img/bg-header@2x.jpg");
    background-size: 1338px auto;
  }
}


.gift__description {
  color: $basic-white;
  text-align: center;
  font-family: $primary-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 161px;
    text-align: left;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    text-align: center;
  }
}

.gift__icon {


  background-image: url("../../images/icons/stack.svg#gift");


  width: 78px;
  height: 80px;
  margin: 0 auto 48px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 48px;
  }
}

