.gift {
  background-color: $brand-primary-color;

}

.gift__description {
  color: $basic-white;
  text-align: center;
  font-family: $primary-font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}
