.main-products {

}

.main-products__item {

}

.main-products__item a {
  text-decoration: none;
}

.main-products__image {

}

.main-products__title {
  color: $special_dark-grey-2;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.main-products__specifications {
  color: $special_dark-grey-1;
  font-family: $primary-font-family;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
}

.main-products__item-link {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
}

