.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;

  position: relative;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $basic-grey;
    padding-top: 13px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
    padding-top: 55px;
    padding-bottom: 25px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}


.main-header__logo {
  display: flex;
}


.main-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
