.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 280px;
  padding: 40px 20px;
  margin: 0 auto;
  //outline: 5px solid rgba(255, 0, 0, 0.8);
  //outline-offset: -5px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 55px 30px;
    //outline: 5px solid rgba(12, 234, 178, 0.8);
    //outline-offset: -5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 66px 110px;
    //outline: 5px solid rgba(237, 138, 8, 0.8);
    //outline-offset: -5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}


.main-footer__logo {
  //outline: 1px solid rgba(237, 8, 100, 0.8);
  //outline-offset: -1px;

//  width: 100%;

  @media (max-width: $mobile-width-only) {
    text-align: center;

    padding-bottom: 20px;

    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__social {
  //outline: 1px solid rgba(8, 27, 237, 0.8);
  //outline-offset: -1px;

//  width: 100%;

  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__copyright {
  //outline: 1px solid rgba(174, 216, 7, 0.8);
  //outline-offset: -1px;


 // width: 100%;

  @media (max-width: $mobile-width-only) {
    padding-top: 20px;
  }
}

