.main-nav {
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
  @media (min-width: $desktop-width) {
    max-width: 600px;

  }
}

.main-nav__list {
  @media (max-width: $mobile-width-only) {
    background-color: $basic-white;
  }
}
