.main-products {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    outline: 5px solid rgba(12, 234, 178, 0.8);
    outline-offset: -5px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    outline: 5px solid rgba(237, 138, 8, 0.8);
    outline-offset: -5px;
  }
}

.main-products__item {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  outline: 5px solid rgba(237, 8, 8, 0.8);
  outline-offset: -5px;
}

.main-products__item a {
  text-decoration: none;
}

.main-products__image {

}

.main-products__title {
  color: $special_dark-grey-2;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.main-products__specifications {
  color: $special_dark-grey-1;
  font-family: $primary-font-family;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
}

.main-products__item-link {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
}

