.main-products {

  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}


.main-products__item {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      background-color: $special-grey;
    }
  }


  @media (min-width: $tablet-width) {
    width: 324px;
    background-color: $basic-grey;
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    display: flex;
  }
}


.main-products__item a {
  text-decoration: none;
}

.main-products__image img {
  display: block;
  margin: 0 auto;
}

.main-products__wrapper {
  @media (max-width: $mobile-width-only) {
    display: grid;

    grid-template-columns: 50% 50%;

    margin-bottom: 17px;
  }


  @media (min-width: $tablet-width) {
    margin-right: 32px;
    margin-bottom: 37px;
    margin-left: 32px;
    margin-top: -80px;


    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }
}

.main-products__image {
  @media (max-width: $mobile-width-only) {
    grid-row: span 2;
    display: flex;
    justify-self: center;
    align-items: center;
  }
}


.main-products__title {
  color: $special-dark-grey-2;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;


  @media (max-width: $mobile-width-only) {
    padding-top: 10px;
    padding-bottom: 12px;
    width: 95px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;


    width: 134px;
    margin: 0 auto;
  }
}


.main-products__item--all .main-products__title {
  @media (max-width: $mobile-width-only) {
    padding-top: 75px;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
  }


  @media (min-width: $tablet-width) {
    padding-top: 150px;
    padding-bottom: 23px;
  }
}


.main-products__table {
  color: $special-dark-grey-1;
  font-family: $primary-font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  border-collapse: collapse;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 35px;
  }
}

.main-products__info {

  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    padding: 7px 6px 8px 1px;
    border-bottom: 1px solid $special-dark-grey-4;
  }
}

.main-products__description {
  @media (max-width: $mobile-width-only) {
    color: $special-dark-grey-1;
    font-family: $primary-font-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    text-align: center;

    padding-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;

    padding-bottom: 82px;
    text-align: center;
  }


  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}


.main-products__item-link {
  display: block;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    grid-column: span 2;
  }
}

.main-products__item--all {
  position: relative;


  @media (min-width: $tablet-width) {
    margin-top: 82px;
    background-color: $basic-white;
    border: 2px solid $basic-grey;

    padding: 50px 37px 36px;
  }
}


.main-products__item-cross {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $special-dark-grey-3;
  }

  &::before {
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

