.product-use-example {
  background-color: #eaeaea;
}

.product-use-example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;


  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
    outline: 5px solid rgba(12, 234, 178, 0.8);
    outline-offset: -5px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
    outline: 5px solid rgba(237, 138, 8, 0.8);
    outline-offset: -5px;
  }
}

.product-use-example__content {

}

.product-use-example__compare-slider {

}




.product-use-example__title {
  color: $basic-black;
  font-family: $secondary-font-family;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  margin-bottom: 40px;

@media (min-width: $tablet-width) {
  font-size: 60px;
  line-height: 60px;

  margin-bottom: 60px;


}

@media (min-width: $desktop-width) {
  margin-bottom: 146px;

}
}

.product-use-example__description {
  color: $special_dark-grey-1;
  font-family: $primary-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;


  }
}






.product-use-example__data dt {
  color: $basic-black;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.product-use-example__number {
  color: $basic-black;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}




.product-use-example__data dd {
  color: $special_dark-grey-1;
  text-align: center;
  font-family: $primary-font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.product-use-example__expenses {
  color: $basic-black;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}




