.text-field {

}

.text-field__input {
  color: $special_dark-grey-1;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  border: 0;
  outline: 1px solid #e7e7e7;
  padding: 13px 0 13px 15px;
  width: 100%;

  @media (min-width: $tablet-width) {

    font-size: 20px;
    line-height: normal;
  }
}
